---
---


// Variables

//// Colors 

$x-black: #181C1F;
$x-grey: #8B939B;
$x-light-grey: #EEEFF0;
$x-gold: #CCAC55;
$x-green: #55a855;

$main-cabin: #b2c8d7;
$business-cabin: #7d8c96;
$first-cabin: #475158;


//// Fonts

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$x-font: 'Lato', sans-serif;
$regular: 400;
$bold: 700;



html,body,h1,h2,h3,h4,h5,h6{
  font-family: $x-font;
  font-weight: $regular;
}

header{
  .logo{
    display: block;
    margin: 0 auto;
  }
}

.header-home{
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.header-simple{
  background-color: $x-black;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

// Home Page 

.picker-container{
  margin-top: 160px;
  margin-bottom: 100px;
}

input, [type='date']{
  height: 3em;
  width: 100%;
  padding-left: 15px;
  color: $x-grey;
}

.destination-tile-container{
  margin-bottom: 1.6em;
  padding-bottom: 0.3em;
  
  h1{
    font-size: 1.6em;
    margin-bottom: 0;
    margin-top: 0.4em;
    padding-left: 0.4em;
    color: $x-black;
  }
  
  h2{
    font-size: 1em;
    color: $x-grey;
    padding-left: 0.5em;
  }
  
  &:hover{
	box-shadow: 0 0 15px 0 rgba(163, 163, 163, 0.5);
  }
}

.footer-buffer{
  background-color: $x-light-grey;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 100px; 
  
  P{
    font-size: 2em;
    text-align: center;
    color: $x-grey;
  }
}

// Flight Selector

.departs{
  
  margin-bottom: 60px;
  
  .green{
    color: $x-green;
  }
  h1{
    font-size: 2.2em;
    margin-bottom: 0;
  }
  h2{
    font-size: 1.4em;
    color: $x-grey;
  }
}

.flight-class{
  text-align: center;
  color: white;
  
  .main-cabin, .business-cabin, .first-cabin{
    padding-bottom: 0.4em;
    padding-top: 0.4em;
//    margin-left: 0.2em;
//    margin-right: 0.2em;
  }
  
  .main-cabin{
    background-color: $main-cabin;
  }
  .business-cabin{
    background-color: $business-cabin;
  }
  .first-cabin{
    background-color: $first-cabin;
  }
}

.flight-time{
  
  .time{
    font-size: 1.6em;
  }
  p{
    color: $x-grey;
    margin-bottom: 0;
  }
  
}


.flight-class-picker{
  
  text-align: center;
  color: $x-grey;
  
  .main-cabin, .business-cabin, .first-cabin{
//    margin: 0.3em;
    padding-top: 1.2em;
    padding-bottom: 1.2em; 
    
    &:hover{
      color: white;
    }
  }
  
  p{
    margin-bottom: 0;
  }
  
  .dollars{
    font-size: 2em;
    margin-top: -0.3em;
  }
  
  .main-cabin{
    border-style: solid;
    border-width: 5px;
    border-color: $main-cabin;
    
    &:hover{
      background-color: $main-cabin;
    }
  }
  .business-cabin{
    border-style: solid;
    border-width: 5px;
    border-color: $business-cabin;
    
    &:hover{
      background-color: $business-cabin;
    }
  }
  .first-cabin{
    border-style: solid;
    border-width: 5px;
    border-color: $first-cabin;
    
    &:hover{
      background-color: $first-cabin;
    }
  }
}

// Footer

footer{
  background-color: $x-black;
  color: $x-grey;
  padding-top: 50px;
  padding-bottom: 50px;
//  margin-top: 100px;
  
  .left{
    text-align: left;
    .logo{
      height: 20px;
    }
  }
  
  .right{
    text-align: right;
  }
  
}

// Foundation Overrides

.column:last-child:not(:first-child), .columns:last-child:not(:first-child){
  float: left;
}