---
---


// Variables

$x-black: #181C1F;
$x-grey: #8B939B;
$x-gold: #CCAC55;


// Fonts

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$x-font: 'Lato', sans-serif;
$regular: 400;
$bold: 700;



.header-home{
  background-image: url(../img/header2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.header-simple{
  background-color: $x-black;
  padding-top: 60px;
  padding-bottom: 60px;
}

header{
  .logo{
    display: block;
    margin: 0 auto;
  }
}

.picker-container{
  margin-top: 160px;
  margin-bottom: 100px;
}

input, [type='date']{
  height: 3em;
  width: 100%;
  padding-left: 15px;
  color: $x-grey;
}

footer{
  background-color: $x-black;
  color: $x-grey;
  padding-top: 50px;
  padding-bottom: 50px;
  
  .left{
    text-align: left;
    .logo{
      height: 20px;
    }
  }
  
  .right{
    text-align: right;
  }
  
}

// Foundation Overrides

.column:last-child:not(:first-child), .columns:last-child:not(:first-child){
  float: left;
}