---
---


// Variables

$x-black: #181C1F;
$x-grey: #8B939B;
$x-gold: #CCAC55;


// Fonts

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$x-font: 'Lato', sans-serif;
$regular: 400;
$bold: 700;



.header-home{
  background-image: url(../img/header2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  padding-top: 60px;
  padding-bottom: 200px;
  margin-bottom: 100px;
}

.header-simple{
  background-color: $x-black;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo{
  display: block;
  margin: 0 auto;
}

.picker-container{
  margin-top: 100px;
}

input, [type='date']{
  height: 3em;
  width: 100%;
}

// Foundation Overrides

.column:last-child:not(:first-child), .columns:last-child:not(:first-child){
  float: left;
}