<header class="header-home">
  
  <div class="row">
    
    <div class="small-12 columns">
      <a href="{{ site.baseurl }}/"><img class="logo" src="../img/logo.svg"></a>
    </div>
      
    <div class="small-12 columns picker-container">
      <div class="medium-3 columns">
        <input type="text" name="Origin" value="New York">
      </div>
      <div class="medium-3 columns">
        <input type="text" name="Destination" value="London">
      </div>
      <div class="medium-3 columns">
        <input id="date" type="date" value="Date">
      </div>
    </div>
    
  </div>
  
</header>